@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
/*@import url("https://fonts.googleapis.com/css2?family=Allison&display=swap");*/

/* HEADER */

.site-title h1 {
  font-family: "Alumni Sans", sans-serif;
  font-weight: 1000;
  color: #efefef;
  font-size: 6rem;
  margin-bottom: 1rem;
  text-align: center;
}

.social-grid {
  font-size: 1.5rem;
  justify-content: center;
  margin-bottom: 1rem !important;
}

.social a {
  color: #6d62ff;
}

.social a:hover {
  color: #efefef;
}

/* CONTENT */

.introduction {
  font-family: "Raleway", sans-serif;
  color: #efefef;
  font-size: 1.35rem;
  margin-bottom: 2rem;
  text-align: left;
}

.skills-grid {
  font-size: 2.25rem;
  font-family: "Raleway", sans-serif;
  color: #6d62ff;
  flex-direction: row;
  justify-content: center;
  /*text-align: center;*/
  margin-bottom: 1rem;
}

.skills {
  font-size: 1.25rem;
  color: #efefef;
}

.projects-grid {
  font-size: 2.25rem;
  font-family: "Raleway", sans-serif;
  color: #6d62ff;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-bottom: 1rem;
}

.p-label {
  font-family: "Raleway", sans-serif;
  color: #efefef;
}

body {
  background-color: #161616;
}

.container {
  max-width: 1000px;
  margin: auto;
}

/* footer {
  color: #efefef;
} */
