@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

/* COLOR SCHEME */

/* Define styles for the default root window element */
/* :root {
  --accent-color: #6d62ff;
  --background-color-primary: #f6f6f6;
  --background-color-secondary: #efefef;
  --text-primary-color: #222525;
  background-color: var(--background-color-primary);
} */

/* Define styles for the root window with dark mode preference */
/* :root.dark-theme {
  --accent-color: #6d62ff;
  --background-color-primary: #131212;
  --background-color-secondary: #222525;
  --text-primary-color: #efefef;
  background-color: var(--background-color-primary);
} */

/* HEADER */

.site-title h1 {
  font-family: "Alumni Sans", sans-serif;
  font-weight: 1000;
  /* color: #efefef; */
  /* color: var(--text-primary-color); */
  font-size: 6rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.social-grid {
  font-size: 1.5rem;
  justify-content: center;
  margin-bottom: 1rem !important;
}

.social a {
  color: #6d62ff;
}

.social a:hover {
  /* color: #efefef; */
}

.dark-mode-button {
  
}

/* CONTENT */

.introduction {
  font-family: "Raleway", sans-serif;
  /* color: #efefef; */
  font-size: 1.35rem;
  /* margin-bottom: 1rem; */
  /* text-align: left; */
}

.skills-grid {
  font-family: "Raleway", sans-serif;
  flex-direction: row;
  justify-content: center;
}

.skill-titles {
  color: #6d62ff;
  font-size: 2.25rem;
  margin-bottom: 0.25rem;
}

.skills-note {
  /* color: #efefef; */
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.skills {
  /* color: #efefef; */
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.skill-divider {
  margin-bottom: 1rem;
}

.projects-grid {
  font-size: 2.25rem;
  font-family: "Raleway", sans-serif;
  color: #6d62ff;
  flex-direction: row;
  justify-content: center;
  /* align-items: stretch !important; */
  text-align: center;
}

.p-grid-card {
  /* background-color: #222525; */
  font-weight: bold !important;
  font-family: "Raleway", sans-serif !important;
  /* width: 20rem; */
}

.root-object {
  /* background-color: #222525 !important; */
  width: 20rem;
}

.p-card-img {
  max-height: 275px !important;
}

.p-icons {
  /* color: #efefef; */
}

a {
  color: #6d62ff;
}

a:visited {
  color: #6d62ff;
}

a:active {
  color: #5c52ec;
}

b {
  
}

/* .modal {
  display: "flex";
  align-items: "center";
  justify-content: "center";
} */

/* .modal-paper {
  background-color: #222525;
  font-family: "Raleway", sans-serif;
  color: "#efefef";
  //border: "2px solid #000",
  box-shadow: 5;
  padding: spacing(0, 5, 1);
  margin-top: 200;
  margin-bottom: 200;
  margin-left: 400;
  margin-right: 400;
} */

.container {
  max-width: 1000px;
  margin: auto;
}

body {
  /* background-color: var(--background-color-primary); */
  /* background-color: #131212; */
}

.footer {
  /* color: #efefef; */
  /* background-color: var(--background-color-primary); !important */
  font-family: "Raleway", sans-serif;
  margin-top: 7rem;
  margin-bottom: 5.5rem;
  text-align: center;
}
