@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

/* HEADER */

.site-title h1 {
  font-family: "Alumni Sans", sans-serif;
  font-weight: 1000;
  font-size: 6rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.social-grid {
  font-size: 1.5rem;
  justify-content: center;
  margin-bottom: 1rem !important;
}

.social-dark {
  color: #6d62ff;
}

.social-dark a:hover {
  color: #efefef;
}

.social-light {
  color: #6d62ff;
}

.social-light a:hover {
  color: #000000;
}

/* .dark-mode-button {
  max-width: 40px;
  max-height: 40px;
} */

/* .dark-mode-button-2 {
  position: absolute;
} */

/* CONTENT */

.introduction {
  font-family: "Raleway", sans-serif;
  font-size: 1.35rem;
}

.skills-grid {
  font-family: "Raleway", sans-serif;
  flex-direction: row;
  justify-content: center;
}

.skill-titles {
  color: #6d62ff;
  font-size: 2.25rem;
  margin-bottom: 0.25rem;
}

.skills-note {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.skills {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.skill-divider {
  margin-bottom: 1rem;
}

.projects-grid {
  font-size: 2.25rem;
  font-family: "Raleway", sans-serif;
  color: #6d62ff;
  flex-direction: row;
  justify-content: center;
  /* align-items: stretch !important; */
  text-align: center;
}

.p-card-root {
  /* background-color: #222525 !important; */
  width: 20rem;
}

.p-card-title {
  font-weight: bold !important;
  font-family: "Raleway", sans-serif !important;
}

.p-card-img {
  max-height: 275px !important;
}

a {
  color: #6d62ff;
}

a:active {
  color: #5c52ec;
}

/* .modal {
  display: "flex";
  align-items: "center";
  justify-content: "center";
} */

/* .modal-paper {
  //border: "2px solid #000",
  box-shadow: 5;
  padding: spacing(0, 5, 1);
  margin-top: 200;
  margin-bottom: 200;
  margin-left: 400;
  margin-right: 400;
} */

.container {
  max-width: 1000px;
  margin: auto;
}

.footer {
  font-family: "Raleway", sans-serif;
  margin-top: 7rem;
  margin-bottom: 5.5rem;
  text-align: center;
}
