<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Ben Caffee</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
    <link rel="stylesheet" href="./dark.css" />
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
  </head>

  <body class="mode">
    <section class="section" id="app">
      <div class="container">
        <div class="header-div">
          <div class="title-container">
            <h1 class="title site-title fadeIn">Ben Caffee</h1>
          </div>
          <div class="social-container fadeIn">
            <a href="https://github.com/bcaffee">
              <ion-icon name="logo-github"></ion-icon>
            </a>
            <a href="mailto:bencaffeeofficial@gmail.com">
              <ion-icon name="mail"></ion-icon>
            </a>
            <a href="javascript:void(0);">
              <ion-icon name="contrast"></ion-icon
            ></a>
            <button onclick="myFunction()">Toggle light mode</button>
          </div>
        </div>

        <nav class="panel fadeIn">
          <p class="panel-heading">Introduction</p>
          <div class="panel-block" v-for="introduction in introductions">
            <div class="panel-content">
              <h3 class="panel-title">{{introduction.title}}</h3>
              <p class="panel-description">{{introduction.description}}</p>
            </div>
          </div>
        </nav>

        <nav class="panel fadeIn">
          <p class="panel-heading">Skills</p>
          <div class="panel-block">
            <div class="skill-container">
              <p class="panel-title">
                Sorted by proficiency and experience in descending order.
              </p>
              <div class="panel-content" v-for="skill in skills">
                <h3 class="panel-description">{{skill.name}}</h3>
                <progress
                  class="progress skill-level is-medium"
                  :value="skill.level"
                  max="100"
                ></progress>
              </div>
            </div>
          </div>
        </nav>

        <nav class="panel fadeIn">
          <p class="panel-heading">Skills to Improve</p>
          <div class="panel-block">
            <div class="skillstoImprove-container">
              <p class="panel-title">Sorted by priority:</p>
              <div
                class="panel-content"
                v-for="skillToImprove in skillsToImprove"
              >
                <h3 class="panel-description">{{skillToImprove.name}}</h3>
              </div>
            </div>
          </div>
        </nav>

        <nav class="panel fadeIn">
          <p class="panel-heading n-panel-heading">Game Projects</p>
          <div class="panel-block" v-for="project in gameProjects">
            <div class="panel-content">
              <h3 class="panel-title">{{project.title}}</h3>
              <p class="panel-description">{{project.description}}</p>
              <a :href="project.url"
                ><button
                  class="button panel-button is-dark is-outlined"
                  v-if="project.url"
                >
                  Learn More
                </button></a
              >
            </div>
          </div>
        </nav>

        <nav class="panel fadeIn">
          <p class="panel-heading n-panel-heading">Other Projects</p>
          <div class="panel-block" v-for="project in otherProjects">
            <div class="panel-content">
              <h3 class="panel-title">{{project.title}}</h3>
              <p class="panel-description">{{project.description}}</p>
              <a :href="project.url"
                ><button
                  class="button panel-button is-dark is-outlined"
                  v-if="project.url"
                >
                  Learn More
                </button></a
              >
            </div>
          </div>
        </nav>
      </div>
    </section>

    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          Copyright &copy;
          <script type="text/javascript">
            document.write(new Date().getFullYear());
          </script>
          Ben Caffee. All rights reserved.
        </p>
      </div>
    </footer>

    <style>
      body {
        padding: 25px;
        background-color: white;
        color: black;
        font-size: 25px;
      }
      
      .dark-mode {
        background-color: black;
        color: white;
      }
      </style>

    <script type="text/javascript">
      function toggleLightMode() {
        document.body.toggle("dark-mode");
      }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue-router.js"></script>
    <script src="./app.js" type="module"></script>
  </body>
</html>
